// These are the preset configs to transpile for local dev and the dist package
{
  "env": {
    "development": {
      "presets": ["next/babel"]
    }
    //    "test": {
    //      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
    //      "plugins": ["require-context-hook"]
    //    },
    //    "production": {
    //      "presets": [["es2015", {}], ["react"], ["stage-0"]],
    //      "ignore": ["**/*.test.js"],
    //      "plugins": []
    //    }
  }
}
